.DS_Store
node_modules
.next
out
dist
build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
*.swp
*.swo
coverage
.nyc_output
logs
*.log
secrets.json
、服务端部署文件
.vs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
uploads
sessions
*.csv
*.xlsx
*.pdf
/uploads
/certs
/secrets
/.vscode
/docker-compose.override.yml
*.pem
*.key
*.crt
*.csr
Thumbs.db
desktop.ini